
.users-albums {
  /* display: flex; */
  display: inline;
}

.users, .albums {
  display: flex;
  flex-direction: column;
}

.users {
  float: left;
  margin-left: 150px;
}

.albums {
  float: right;
  margin-right: 150px;
}